.find-me {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
    padding-top: 100px;
}

.icon-link {
}

.icon-link > a {
    text-decoration: none;
    color: #000;
}
