.self-doodle-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 400px;
  width: 300px;

  &.vertical {
    position: relative;
    place-self: center;
    margin: 0 auto;
  }

  .self-doodle {
    &.open {
      &.dark {
        background: url(../../../assets/images/open_dark.png);
        background-repeat: no-repeat;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        background-size: contain;
      }
      &.light {
          background: url(../../../assets/images/open_light.png);
          background-repeat: no-repeat;
          height: -webkit-fill-available;
          width: -webkit-fill-available;
          background-size: contain;
      }
    }

    &.blink {
      &.dark {
        background: url(../../../assets/images/blink_dark.png);
        background-repeat: no-repeat;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        background-size: contain;
      }
      &.light {
          background: url(../../../assets/images/blink_light.png);
          background-repeat: no-repeat;
          height: -webkit-fill-available;
          width: -webkit-fill-available;
          background-size: contain;
      }
    }
  }

  .trapezoid {
    display: inline-block;
    overflow: hidden;
    margin: 0 3em;
    width: 10em;
    height: 8.66em;
    transform: rotate(40deg);
    position: absolute;
    bottom: 25px;
    right: 17px;
    border-radius: 50px;
  }
  .trapezoid:before {
    display: block;
    background: linear-gradient(0deg, #ffffe6 0%, #ffffb300 100%);
    -webkit-mask-image: linear-gradient(180deg, transparent 20%, #ffffb347 100%);
    mask-image: linear-gradient(180deg, transparent 20%, #ffffb3 100%);
    content: '';
  }
  
  .trapezoid:before {
    width: inherit; height: 50%;
    transform: skewX(-30deg) rotate(-60deg) translate(-1.25em);
  }
}