$font-color: #000;
$background-color: #FFF;

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Lora', serif;
  font-size: 18px;
}

body {
  &[data-theme='dark'] {
    $background-color: #000;
    $font-color: #FFF;
  }

  color: $font-color;
  background-color: $background-color;
}

.md-padding {
  padding: 16px;
}


.layout-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  
}

.layout-column {
  flex-direction: column;
}

.layout-row, .layout-column {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.layout-align-center-center, .layout-align-end-center, .layout-align-space-around-center, .layout-align-space-between-center, .layout-align-start-center {
  align-items: center;
  align-content: center;
  max-width: 100%;
  justify-content: center;
}


.page {
  padding: 5pc 0;
}

.page h1.writing-heading {
  font-size: 26px;
}

.page h1.writing-heading .name-heading {
  color: #000;
  margin: 0px;
}

.root-container {
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.article-page {
  margin-top: 15px;
  font-size: 18px;
}

.article-page .introduction, .article-page h1, .article-page h2, .article-page h3, .article-page h4, .article-page ol, .article-page p, .article-page pre, .article-page ul {
  margin-bottom: 20px;
}

.article-page .introduction {
  font-size: 22px;
}

.article-page #post-content {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
}

a:visited {
  color: #000;
}